@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

}

body {
  background-color: #f3eeee; 
}

.dark-mode {
  background-color: #141414;
  color: white;
}

label {
  font-size: 20px;
  color: #15151a;
}

.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(227, 227, 227, 0.75),rgba(106, 106, 106, 0.75)), url('/static/img/gen-banner.png') center/cover;
  background-size: cover;
  background-position: center;
}

.navbar-home {
  font-size: 24px;
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.navbar-home .logo-home a {
  color: #000000;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-home ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}
.navbar-home ul li a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
.navbar-home .menu li a {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-home .menu li a:hover,
.navbar-home .menu li a.active {
  color: #c61e4e;
}
.navbar-home .logo-home img {
  max-width: 40%; 
  height: auto;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  color: #000000;
}

.content h1,
.content p {
  margin: 0; 
}

.button {
  width: 150px;
  padding: 15px 0;
  text-align: center;
  margin: 15px 10px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #c61e4e;
  background: transparent;
  color: #000000;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span {
  background: #c61e4e;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.7s;
}
.button:hover span {
  width: 100%;
}
.button:hover {
  border: none;
}



nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 90%;
  background: #ffffff;
  margin: auto;
}

nav .navbar .logo {
  display: flex;
  align-items: center;
}

nav .navbar .logo a {
  color: #000000;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
  margin-right: 20px;
}

nav .navbar .menu {
  display: flex;
  align-items: center;
}

.navbar .menu li {
  list-style: none;
  margin: 0 15px;
}

.navbar .menu li a {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar .menu li a:hover,
.navbar .menu li a.active {
  color: #d62424;
}
.logo img {
  width: 40%; /* ปรับขนาดของรูปภาพตามที่คุณต้องการ */
  height: auto; /* ให้รูปภาพปรับตามอัตราส่วน */
}

@media screen and (max-width: 768px) {
  nav .navbar {
    flex-direction: column;
  }

  nav .navbar .logo a {
    margin-bottom: 10px;
    margin-right: 0;
  }

  nav .navbar .menu {
    justify-content: center;
  }
}


/* Dropdown Model Container Styles */
.dropdown-model {
  display: flex;
  flex-direction: column; 
  align-items: left;
  margin-top: 7%; 
  margin-left: 14%;
}

.dropdown-container {
  width: 1200px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; 
}

.dropdown-model label {
  margin-bottom: 5px;
}

.dropdown-model select {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #d57220;
  box-shadow: 2px 2px 2px #d57220;
  line-height: 1.5;
  appearance: none;
  cursor: pointer;
  background-color: #fff;
  width: 30%; 
  font-size: 16px;
}

.dropdown-model select:hover,
.dropdown-model select:focus {
  color: #ef5421;
}

#generate-btn {
  font-size: 18px;
  text-align: center;
  width: 15%; 
  margin-top: 10px;
  background-color: #f24e18;
  color: #fff;
  border: none;
  padding: 15px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#generate-btn:hover {
  background-color: #ff1111;
}



.box-container {
  margin-top: 0;
  margin-left: 14%;
}

.text-area-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-top: 20px; 
  margin-bottom: 5px;
  width: 1200px;
  font-size: 18px;

}
.text-area-container textarea {
  width: 150%;
  font-size: 22px;
  font-weight: lighter;
  padding: 10px;
  border: 2px solid #d57220;
  box-shadow: 2px 2px 2px #d57220;
}

.text-area-neprompt textarea {
  height: 50px;
  font-size: 22px;
  padding: 10px;
}

.text-area-prompt,
.text-area-neprompt {
  width: 45%; 
  position: relative;
  border-radius: 5px;
  padding: 10px;
}

.text-area-neprompt textarea {
  height: 70px;
  font-size: 22px;
  padding: 10px; 
}


.input-area {
  width: 40%; /* ปรับความกว้างของ input area */
}

.text-area-container textarea {
  width: 100%; /* ทำให้ textarea ขยายตาม input area */
}

.text-area-neprompt textarea {
  height: 70px; /* ปรับความสูงตามที่ต้องการ */
}


.convert-btn {
  display: flex;
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.convert-btn:hover {
  background-color: #3f51ef;
}

.box2-container {
  margin-top: 0;
  margin-left: 15%;

}

.dropdown-method-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-top: 20px;
  width: 550px;
  margin-bottom: 2%;
}

.dropdown-method-container label {
  margin-bottom: 10px;
}

.dropdown-method-container select {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #d57220;
  box-shadow: 1px 1px 1px #d57220;
  width: 400px;
  max-width: 100%;
  line-height: 1.5;
  appearance: none;
  cursor: pointer;
  background-color: #fff;
}


/* Slider Styles */
.slider-container {
  display: flex;
  justify-content: flex-start; /* ปรับให้ Slider มีการจัดวางจากด้านซ้ายไปขวา */
  align-items: left;
  margin-top: 20px;
}

.slider-group {
  text-align: center;
  margin-right: 20px; /* ปรับระยะห่างระหว่าง Slider ให้มากขึ้น */
}

.slider {
  width: 200px; /* ปรับความกว้างของ Slider เหลือน้อยลง */
}

.slider-value {
  width: 70px;
  height: 50px;
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
}

/* Move Labels to the Top */
.slider-group label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

/* Dropdown Size Container Styles */
.dropdownsize-container {
  display: flex;
  align-items: left;
  margin-top: 20px;
}

.size-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  width: 320px;
}

.size-group label {
  display: block;
  text-align: left;
  margin-right: 10px; /* Add margin for better separation */
}

.size-group select {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #d57220;
  box-shadow: 1px 1px 1px #d57220;
  line-height: 1.5;
  appearance: none;
  cursor: pointer;
  background-color: #fff;
  width: 70px; /* Adjust the width according to your design */
  font-size: 16px;
}


.seed-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
}

.seed-container label {
  margin-bottom: 5px;
}

.seed-container input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #d57220;
  box-shadow: 1px 1px 1px #d57220;
  width: 400px;
  max-width: 100%;
  appearance: none;
  font-size: 16px;
}

.box3-container {
  margin-left: 8%;
  position: relative; 
  margin-top: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: auto;
  width: 768px;
  height: 512px;
  margin-top: 20px; 
  position: relative; 
  overflow: hidden;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(125, 124, 124, 0.1);
  border: 1px solid rgb(165, 164, 164);
  border-radius: 5px;
}

#result-image {
  max-width: 100%;
  overflow: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#download-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 15px;
  background-color: #b6b6b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#download-btn:hover {
  background-color: #45a049;
}

.mixbox-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Adjust alignment according to your design */
  margin-top: 20px;
  width: 1400px;
  margin-left: 5%;
}

.mySlides {
  width: 100%;
  height: 800px; /* Set the desired height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.genprompt-description {
  max-width: 1000px;
  margin: auto;
}

.about-wide {
  font-size: 40px;
}

.about-opacity {
  color: #999;
}

.about-justify {
  text-align: justify;
  font-size: 20px;
}

.about-footer {
  margin-top: 10%;
  width: 100%;
  height: 200px;
  background-color: #000000;
}


.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3eeee;
}

.login-form {
  background-color: #fff;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #151414;
}

.login-form h2 {
  color: #001c2a;
}

.input-login {
  margin-bottom: 20px;
  width: 100%;
}

.input-login span {
  font-size: 16px;
  margin-bottom: 5px;
  color: #001c2a;
  display: inline-block;
  letter-spacing: 1px;
}

.input-login input {
  width: 400px;  
  box-sizing: border-box; 
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  letter-spacing: 1px;
  color: #001c2a;
  background: transparent;
  border-radius: 30px;
  border: 1px solid #001c2a;
}



#submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
}

#submit-button {
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  font-weight: 500;
  background-color: #ff6600;
}

#submit-button:hover {
  background-color: #cb5201;
}

#submit-button:active {
  transform: scale(0.9);
  transition: 0.2s;
}

.remember-me {
  margin-bottom: 20px;
  color: #001c2a;
  font-weight: 400;
}

.input-login p {
  color: #001c2a;
}

.input-login p a {
  color: #ff6600;
}
#google-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  padding: 20px;
}

#google-login-btn:hover {
  background-color: #f6d632;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}


.loading-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  z-index: 1000;
}

.loading-spinner {
  border: 8px solid #ffd52d;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
  font-size: 16px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
