@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --background-light: #f3eeee;
  --background-dark: #202020;
  --color-light: #202020;
  --color-dark: #ffffff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

}

body {
  background-color: #f3eeee; 
}

.dark-mode {
  background-color: #141414;
  color: white;
}

label {
  font-size: 20px;
  color: #15151a;
}

.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(227, 227, 227, 0.75),rgba(106, 106, 106, 0.75)), url('/static/img/gen-banner.png') center/cover;
  background-size: cover;
  background-position: center;
}
.navbar-home {
  font-size: 24px;
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.navbar-home .logo-home a {
  color: #000000;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-home ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}
.navbar-home ul li a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
.navbar-home .menu li a {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-home .menu li a:hover,
.navbar-home .menu li a.active {
  color: #c61e4e;
}
.navbar-home .logo-home img {
  max-width: 40%; 
  height: auto;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  color: #000000;
}

.content h1,
.content p {
  margin: 0; 
}

.button {
  width: 150px;
  padding: 15px 0;
  text-align: center;
  margin: 15px 10px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #c61e4e;
  background: transparent;
  color: #000000;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span {
  background: #c61e4e;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.7s;
}
.button:hover span {
  width: 100%;
}
.button:hover {
  border: none;
}



nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 90%;
  background: #ffffff;
  margin: auto;
}

nav .navbar .logo {
  display: flex;
  align-items: center;
}

nav .navbar .logo a {
  color: #000000;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
  margin-right: 20px;
}

nav .navbar .menu {
  display: flex;
  align-items: center;
}

.navbar .menu li {
  list-style: none;
  margin: 0 15px;
}

.navbar .menu li a {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar .menu li a:hover,
.navbar .menu li a.active {
  color: #d62424;
}
.logo img {
  width: 40%; /* ปรับขนาดของรูปภาพตามที่คุณต้องการ */
  height: auto; /* ให้รูปภาพปรับตามอัตราส่วน */
}

@media screen and (max-width: 768px) {
  nav .navbar {
    flex-direction: column;
  }

  nav .navbar .logo a {
    margin-bottom: 10px;
    margin-right: 0;
  }

  nav .navbar .menu {
    justify-content: center;
  }
}


/* Dropdown Model Container Styles */
.dropdown-model {
  display: flex;
  flex-direction: column; 
  align-items: left;
  margin-top: 5%; 
  margin-left: 15%;
}

.dropdown-container {
  width: 1200px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; 
}

.dropdown-model label {
  margin-bottom: 10px;
}

.dropdown-model select {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #d57220;
  box-shadow: 2px 2px 2px #d57220;
  line-height: 1.5;
  appearance: none;
  cursor: pointer;
  background-color: #fff;
  width: 30%; 
  font-size: 16px;
}

.dropdown-model select:hover,
.dropdown-model select:focus {
  color: #ef5421;
}

#generate-btn {
  font-size: 18px;
  text-align: center;
  width: 15%; 
  margin-top: 10px;
  background-color: #f24e18;
  color: #fff;
  border: none;
  padding: 15px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#generate-btn:hover {
  background-color: #ff1111;
}



.box-container {
  margin-top: 0;
  margin-left: 15%;
}

.text-area-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-top: 20px; 
  margin-bottom: 5px;
  width: 1200px;
  font-size: 18px;

}
.text-area-container textarea {
  width: 150%;
  font-size: 22px;
  font-weight: lighter;
  padding: 10px;
  border: 2px solid #d57220;
  box-shadow: 2px 2px 2px #d57220;
}

.text-area-neprompt textarea {
  height: 50px;
  font-size: 22px;
  padding: 10px;
}

.text-area-prompt,
.text-area-neprompt {
  width: 45%; /* Adjusted width for better responsiveness */
  position: relative;
  border-radius: 5px;
  padding: 10px; /* Added padding for better appearance */
}

.text-area-neprompt textarea {
  height: 70px;
  font-size: 22px;
  padding: 10px; /* Added padding for better appearance */
}


.input-area {
  width: 40%; /* ปรับความกว้างของ input area */
}

.text-area-container textarea {
  width: 100%; /* ทำให้ textarea ขยายตาม input area */
}

.text-area-neprompt textarea {
  height: 70px; /* ปรับความสูงตามที่ต้องการ */
}


.convert-btn {
  display: flex;
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.convert-btn:hover {
  background-color: #3f51ef;
}

.box2-container {
  margin-top: 0;
  margin-left: 15%;

}

.dropdown-method-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-top: 20px;
  width: 550px;
  margin-bottom: 2%;
}

.dropdown-method-container label {
  margin-bottom: 10px;
}

.dropdown-method-container select {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #d57220;
  box-shadow: 1px 1px 1px #d57220;
  width: 550px;
  max-width: 100%;
  line-height: 1.5;
  appearance: none;
  cursor: pointer;
  background-color: #fff;
}


/* Slider Styles */
.slider-container {
  display: flex;
  justify-content: flex-start; /* ปรับให้ Slider มีการจัดวางจากด้านซ้ายไปขวา */
  align-items: left;
  margin-top: 20px;
}

.slider-group {
  text-align: center;
  margin-right: 20px; /* ปรับระยะห่างระหว่าง Slider ให้มากขึ้น */
}

.slider {
  width: 200px; /* ปรับความกว้างของ Slider เหลือน้อยลง */
}

.slider-value {
  border: 2px solid #d57220;
  box-shadow: 1px 1px 1px #d57220;
  width: 70px;
  height: 50px;
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
}

/* Move Labels to the Top */
.slider-group label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

/* Dropdown Size Container Styles */
.dropdownsize-container {
  display: flex;
  align-items: left;
  margin-top: 20px;
}

.size-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  width: 320px;
}

.size-group label {
  display: block;
  text-align: left;
  margin-right: 10px; /* Add margin for better separation */
}

.size-group select {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #d57220;
  box-shadow: 1px 1px 1px #d57220;
  line-height: 1.5;
  appearance: none;
  cursor: pointer;
  background-color: #fff;
  width: 70px; /* Adjust the width according to your design */
  font-size: 16px;
}


.seed-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
}

.seed-container label {
  margin-bottom: 5px;
}

.seed-container input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #d57220;
  box-shadow: 1px 1px 1px #d57220;
  width: 450px;
  max-width: 100%;
  appearance: none;
  font-size: 16px;
}

.box3-container {
  margin-left: 15%;
  position: relative; 
  margin-top: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: auto;
  width: 768px;
  height: 420px;
  margin-top: 20px; 
  position: relative; 
  overflow: hidden;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(125, 124, 124, 0.1);
  border: 1px solid rgb(165, 164, 164);
  border-radius: 5px;
}

#result-image {
  max-width: 100%;
  overflow: scroll;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



#download-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 15px;
  background-color: #b6b6b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#download-btn:hover {
  background-color: #45a049;
}

