<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>About Web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home-styles.css') }}"> <!-- Include the new CSS file -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<nav>
    <div class="navbar">
        <div class="logo"><a href="#"><img src="/static/img/logo.png" alt=""></a></div>
  
        <ul class="menu">
            <li><a href="/" id="home">HOME</a></li>
            <li><a href="#Contact" id="contact">CONTACT</a></li>
        </ul>
    </div>
</nav>

<section>
    <img class="mySlides" src="static/img/banner.png">
    <!-- <img class="mySlides" src="static/img/gen-banner.png" style="width:100%">
    <img class="mySlides" src="static/img/image_banner.png" style="width:100%"> -->
</section>

<section class="genprompt-description">
    <h1 class="about-wide">Visualization of Prompts Data on Stable Diffusion Model</h1>
</section>


<section class="content1">
    <div class="content1-text">
        <p>การป้อนพร้อมพ์ (Prompts) สิ่งที่เราต้องการให้โมเดลสร้างออกมา สามารถใส่กลุ่มพร้อมพ์<br>
            พวกคุณลักษณะ (Charactertistic) ภาษาไทยที่ระบบรองรับในการแปลงคำแล้วกดปุ่มให้<br>
            ระบบเเปลงเป็นพร้อมพ์ภาษาอังกฤษได้ หรือปรับเปลี่ยนแก้ไขเพิ่มเติมพร้อมได้ที่กล่องข้อความ<br>
            English Prompt</p>
    </div>
    <div class="content1-image">
        <img src="static/img/example-prompt.png">
    </div>
</section>

<section class="content2">
    <div class="content2-text">
        <p>การป้อนพร้อมพ์ที่ไม่ต้องการ (์Negative Prompts) สิ่งที่เราไม่ต้องการให้โมเดลสร้างออกมา<br>
           สามารถกดเลือกใส่ได้โดยการเลือกคำใน Check box จากปุ่มกดตัวเลือก Nagative Prompt<br>
           นอกจากนี้สามารถแก้ไขหรือใส่พร้อมเพิ่มเติมในกล่องข้อความได้</p>
    </div>
    <div class="content2-image">
        <img src="static/img/example-negativeprompt.png">
    </div>
</section>

<section class="content3">
    <div class="content3-text">
        <p>การปรับรายละเอียด ขนาด และคุณภาพของรูปภาพเพิ่มเติมเพื่อให้ได้ผลลัพธ์ดีขึ้น<br>
           สามารถปรับเปลี่ยนค่าได้ตามที่ต้องการ ผู้ใช้มือใหม่สามารถกดที่สัญลักษณ์ <i class="fa fa-question-circle" aria-hidden="true"></i> <br>
           เพื่ออ่านคำแนะนำการใช้งานได้</p>
    </div>
    <div class="content3-image">
        <img src="static/img/example-sampling.png">
    </div>
</section>


<footer class="about-footer">
    <a href="#"><i class="fa fa-facebook-official"></i></a>
    <a href="#"><i class="fa fa-pinterest-p"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-flickr"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
</footer>
 
</body> 
</html>
