<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='update.js') }}" defer type="module"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="static\register.js" defer type="module"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <nav>
      <div class="navbar">
        <div class="logo"><a href="#"><img src="/static/img/logo.png" alt=""></a></div>
    
        <ul class="menu">
          <li><a href="/" id="home">HOME</a></li>
          <li><a href="/ABOUT" id="about">ABOUT</a></li>
          <li><a href="#Contact" id="contact">CONTACT</a></li>
          <li>
            <div class="dropdown-user">
              <a class="userbtn" onclick="toggleDropdown()" id="userEmail"><i class="fas fa-caret-down" aria-hidden="true"></i></a>
              <div class="dropuser-content" id="myDropdown">
                <a href="/" onclick="logout()">Logout</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div id="loading-popup" class="loading-popup">
      <div class="loading-spinner"></div>
      <p>กำลังรันโมเดล...</p>
    </div>
    
    <div class="dropdown-model">
      <label for="model-type">Model</label>
      <div class="dropdown-container">
        <select id="model-type" name="model-type">
          <option value="divineanimemix_V2.safetensors [21e8ae2ff3]">divineanimemix_V2.safetensors</option>
          <option value="henmixReal_v5c.safetensors [b2eb92023a]">henmixReal_v5c.safetensors</option>
          <option value="majicmixRealistic_v7.safetensors [7c819b6d13]">majicmixRealistic_v7.safetensors</option>
        </select>
        <button id="generate-btn" onclick="callTxt2ImgAPI()">Generate</button>
      </div>
    </div>
    

    <div class="box-container">
      <div class="text-area-container">
        <div class="text-area-prompt">
          <label for="thai-prompt">Thai Prompt</label>
          <textarea id="thai-prompt" name="thai-prompt" rows="5" cols="33" placeholder="เช่น ผู้หญิง, ยิ้ม, ผมสั้น, ผมสีชมพู,..."></textarea>
        </div>

        <button id="convert-btn" class="convert-btn" onclick="convertPrompt()"><i class="fas fa-paper-plane"></i></button>


        <div class="text-area-prompt">
          <label for="english-prompt">English Prompt</label>
          <textarea id="english-prompt" name="english-prompt" rows="5" cols="33" placeholder=""></textarea>
        </div>
        

        </div>
      
        <div class="text-area-container">
          <div class="text-area-neprompt">
            <label for="in-neprompt">NegativePrompt</label>
            <textarea id="in-neprompt" name="in-neprompt" rows="5" cols="33" placeholder=" Enter your negative prompt..."></textarea>
          </div>
          <div class="text-area-neprompt">
            <label for="out-neprompt">NegativePrompt</label>
            <textarea id="out-neprompt" name="out-neprompt" rows="5" cols="33" placeholder=""></textarea>
          </div>
        </div>
    </div>

    <div class="mixbox-container">
      <div class="box2-container">
        <div class="dropdown-method-container">
          <label for="method-type">Method</label>
          <select id="method-type" name="method-type">
            <option value="DPM++2 Karras">DPM++2 Karras</option>
            <option value="DPM++SDE Karras">DPM++SDE Karras</option>
            <option value="DPM++2M SDE EXPOnential">DPM++2M SDE EXPOnential</option>
            <option value="DPM++2M SDE Karras">DPM++2M SDE Karras</option>
            <option value="Euler">Euler a</option>
            <option value="Euler a">Euler</option>
            <option value="LMS">LMS</option>
            <option value="Heun">Heun</option>
            <option value="DPM2">DPM2</option>
            <option value="DPM2 a">DPM2 a</option>
            <option value="DPM++2S a">DPM++2S a</option>
            <option value="DPM++2M">DPM++2M</option>
            <option value="DPM++SDE">DPM++SDE</option>
            <option value="DPM++2M SDE">DPM++2M SDE</option>
            <option value="DPM++2M SDE Heun">DPM++2M SDE Heun</option>
            <option value="DPM++2M SDE Heun Karras">DPM++2M SDE Heun Karras</option>
            <option value="DPM++2M SDE Heun Exponential">DPM++2M SDE Heun Exponential</option>
            <option value="DPM++3M SDE">DPM++3M SDE</option>
            <option value="DPM++3M SDE Heun">DPM++3M SDE Heun</option>
            <option value="DPM++3M SDE Heun Karras">DPM++3M SDE Heun Karras</option>
            <option value="DPM++3M SDE Heun Exponential">DPM++3M SDE Heun Exponential</option>
            <option value="DPM fast">DPM fast</option>
            <option value="DPM adaptive">DPM adaptive</option>
            <option value="LMS Karras">LMS Karras</option>
            <option value="DPM Karras">DPM Karras</option>
            <option value="DPM2 a Karras">DPM2 a Karras</option>
            <option value="DPM++2S a Karras">DPM++2S a Karras</option>
            <option value="Restart">Restart</option>
            <option value="DDIM">DDIM</option>
            <option value="PLMS">PLMS</option>
            <option value="UniPC">UniPC</option>
          </select>
        </div>

        <div class="slider-container">
          <div class="slider-group">
            <label for="step-slider">Step</label>
            <input type="range" id="step-slider" min="1" max="30" value="30" class="slider">
            <input type="text" id="step-value" class="slider-value" value="30">
          </div>

          <div class="slider-group">
            <label for="cfg-slider">CFG Scale</label>
            <input type="range" id="cfg-slider" min="1" max="150" value="150" class="slider">
            <input type="text" id="cfg-value" class="slider-value" value="150">
          </div>
        </div>
        
      <div class="dropdownsize-container"> 
        <div class="size-group">
        <label for="height-dropdown">Height</label>
        <select id="height-dropdown" name="height">
          <option value="512">512</option>
          <option value="768">768</option>
        </select>
        <label for="width-dropdown">Width</label>
        <select id="width-dropdown" name="width">
          <option value="512">512</option>
          <option value="768">768</option>
        </select>
        </div>
      </div>

          
      <div class="seed-container">
        <label for="seed">Seed</label>
        <input type="text" id="seed" name="seed" placeholder="Enter seed...">
      </div>    
    </div>

    <div class="box3-container">
      <div class="image-container">
        <img id="result-image" src="" alt=" ">
        <button id="download-btn" onclick="downloadImage()"><i class="fa fa-download" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>

<footer class="about-footer">
    <a href="#"><i class="fa fa-facebook-official"></i></a>
    <a href="#"><i class="fa fa-pinterest-p"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-flickr"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
</footer>


  <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
  </body>
</html>


