<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-auth.js" defer></script>
    <script src="static/register.js" defer type="module"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <nav>
    <div class="navbar">
      <div class="logo"><a href="#"><img src="/static/img/logo.png" alt=""></a></div>

      <ul class="menu">
        <li><a href="/" id="home">HOME</a></li>
        <li><a href="/ABOUT" id="about">ABOUT</a></li>
        <li><a href="#Contact" id="contact">CONTACT</a></li>
        <li><a href="#User"id="userEmail"></a></li>
      </ul>
    </div>
  </nav>
    <div class="login-container">
      <div class="login-form">
          <h2>Login</h2>
          <form action="#">
              <div class="input-login">
                  <span>Username</span>
                  <input type="text" name="username" placeholder="Username..." required>
              </div>
              <div class="input-login">
                  <span>Password</span>
                  <input type="password" name="password" placeholder="Password...">
              </div>
              <div class="remember-me">
                  <label>
                      <input type="checkbox"> Remember me?
                  </label>
              </div>
              <div class="input-login">
                  <input type="submit" value="Submit" id="submit-button">
              </div>
              <div class="input-login">
                  <p>Don't have an account? <a href="#">Sign up</a></p>
              </div>
              <div class="input-login">
                <button id="google-login-btn">
                  <i class="fab fa-google fa-2x"></i> Login with Google
                </button>
                
              </div>
          </form>
      </div>
    </div>

</body>
</html>
