<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
   <meta charset="UTF-8">
   <title>Visualization of Prompts Data on Stable Diffusion Model</title>
 <link rel="stylesheet" href="style.css">
  <!-- Fontawesome CDN Link -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <nav>
    <div class="banner">
      <div class="navbar-home">
        <div class="logo-home"><a href="#"><img src="static\img\logo.png" alt="GenPrompt Logo"></a></div>
        <ul class="menu">
          <li><a href="/HOME">Home</a></li>
          <li><a href="#About">About</a></li>
          <li><a href="#Contact">Contact</a></li>
        </ul>
      </div>
  </nav>

  <div class="content">
    <h1> Generate Prompts to Stable Diffusion Model</h1>
    <p>Visualization of Prompts Data on Stable Diffusion Model</p>
    <div>
      <button type="button" class="button"><span></span>Sign IN</button>
      <button type="button" class="button"><span></span>Sign UP</button>
    </div>    
  </div>
</div>

</body> 
</html>