<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
   <meta charset="UTF-8">
   <title>Visualization of Prompts Data on Stable Diffusion Model</title>
 <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <nav>
    <div class="banner">
      <div class="navbar-home">
        <div class="logo-home"><a href="#"><img src="static\img\logo.png" alt="GenPrompt Logo"></a></div>
        <ul class="menu">
          <li><a href="/HOME">Home</a></li>
          <li><a href="/ABOUT">About</a></li>
          <li><a href="#Contact">Contact</a></li>
        </ul>
      </div>
  </nav>
  <section class="login-form">
    <div class="image">
      <img src="static\img\gen-banner.png" alt="background image">
    </div>
    <div class="form-content">
    <div class="form">
    <h2>Login</h2>
    <form action="#">
                        <div class="input">
                            <span>Username</span>
                            <input type="text" name="username" required>
                        </div>
                        <div class="input">
                            <span>Password</span>
                            <input type="password" name="password" required>
                        </div>
                        <div class="remember-me">
                            <label>
                                <input type="checkbox"> Remember me?
                            </label>
                        </div>
                        <div class="input">
                            <input type="submit" value="Submit" id="submit-button">
                        </div>

                        <div class="input">
                            <p>Don't have an account? <a href="#">Sign up</a></p>
                        </div>
                    </form>

                </div>
            </div>
        </section>

    </body>
</html>