<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Register.js</title>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-auth.js" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="static\register.js" defer type="module"></script>
</head>
<body>

    <button id="google-login-btn">Test Google Login</button>

</body>
</html>
